<div class="main-container">
  <div class="login-body">
    <h2 class="title">Sign In</h2>
    <form
      action="#"
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-control">
        <input type="text" formControlName="email" required />
        <label for="email">Email</label>
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
          "
        >
          <small
            class="error"
            *ngIf="loginForm.get('email')?.errors?.['required']"
            >Email is required</small
          >
          <small class="error" *ngIf="loginForm.get('email')?.errors?.['email']"
            >Please enter a valid email</small
          >
        </div>
      </div>
      <div class="form-control">
        <input type="password" formControlName="password" required />
        <label for="password">Password</label>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched)
          "
        >
          <small
            class="error"
            *ngIf="loginForm.get('password')?.errors?.['required']"
            >Password is required</small
          >
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
      <div class="form-help">
        <div class="remember-me">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me">Remember Me</label>
        </div>
        <a href="#">Need Help?</a>
      </div>
    </form>
    <p class="sign-up">
      New to Netflix? <a [routerLink]="['/register']">Sign Up Now</a>
    </p>
    <p class="short-desc">
      This page is protected by Google reCAPTCHA to ensure you're not a bot.
      <a href="#">Learn more.</a>
    </p>
  </div>
</div>
