<main>
  <app-main-header></app-main-header>
  <hr />
  <div class="main-container">
    <div class="inner-sec">
      <div class="media-sec">
        <img [src]="imgSrc" alt="" />
      </div>
      <div class="text-sec">
        <div class="step">STEP 1 OF 3</div>
        <span>Finish setting up your account</span>
        <span>Netflix is personalized for you.</span>
        <span>Create a password to watch on any device at any time.</span>
      </div>
      <button [routerLink]="['/register/step1']">Next</button>
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
