.row {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.text-sec {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  margin: 90px 0;
}

.text-sec .title {
  font-size: 48px;
  font-weight: bolder;
}

.text-sec .description {
  font-size: 24px;
}

.media-sec {
  position: relative;
}

.media-sec img {
  position: relative;
  z-index: 10;
}

.media-sec video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

.download_box {
  z-index: 10;
  height: 5.6rem;
  width: 20.6rem;
  background-color: black;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 10px;
  position: relative;
  left: 3.31rem;
  bottom: 6.7rem;
  display: flex;
  justify-content: space-around;

  .boxshotImg {
    height: 90%;
    width: auto;
  }
  .text_holder {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

    .dowloading {
      margin-top: 10px;
      color: rgb(1, 113, 235);
    }
  }
  .download_icon {
    height: 70%;
    width: auto;
  }
}
