.register-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.register-email input {
  padding: 12px 145px 11px 9px;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 12px 37px;
  font-size: 25px;
  border-radius: 4px;
  font-weight: 400;
}
