<footer>
  <div class="questions">Questions? Call 000-800-919-1694</div>
  <div class="footer">
    <div class="footer-item">
      <a href="faq">Investor Relations</a>
      <a href="faq">Jobs</a>
      <a href="faq">Ways to Watch</a>
      <a href="faq">Terms of Use</a>
    </div>

    <div class="footer-item">
      <a href="faq">Help Centre</a>
      <a href="faq">Account</a>
      <a href="faq">Speed Test</a>
      <a href="faq">Legal Notices</a>
    </div>
    <div class="footer-item">
      <a href="faq">Media Centre</a>
      <a href="faq">Privacy</a>
      <a href="faq">Cookie Preferences</a>
      <a href="faq">Corporate</a>
    </div>

    <div class="footer-item">
      <a href="faq">Contact Us</a>
      <a href="faq">Speed Test</a>
      <a href="faq">Legal Notices</a>
      <a href="faq">Only on Netflix</a>
    </div>
  </div>
</footer>
